In [1]:
import psycopg2
import pandas as pd

In [2]:
host = "ec2-35-168-145-180.compute-1.amazonaws.com"
dbname = "d39n6sb6mps83v"
user = "tlmojlfzsqvceh"
password = "c6d0b0a6ce827b5ab182a15ad863662628cdc4c159aa87ad1015e352d2659299"
sslmode = "require"
conn_string = "host={0} user={1} dbname={2} password={3} sslmode={4}".format(host, user, dbname, password, sslmode)

def get_conn_sys():
    return psycopg2.connect(conn_string)

In [6]:
query= """
SELECT table_name
  FROM information_schema.tables
 WHERE table_schema='public'
   AND table_type='BASE TABLE';
"""

df = pd.read_sql(query,get_conn_sys())
df.head()

  table_name
0    anitech
1   rq_table

In [15]:
query= """
SELECT * FROM rq_table;

"""

df = pd.read_sql(query,get_conn_sys())
df.head()

   id                       date   co2x   o2xx   temp   humi        type
0   1 2021-07-02 00:02:48.932854  400.0  21.23  25.12  54.23  try_insert

In [8]:
from datetime import datetime

date = datetime.now()
co2x = 400
o2xx = 21.23
temp = 25.12
humi = 54.23
typx = "try_insert"
print(date, co2x, o2xx, temp, humi)

2021-07-02 00:02:48.932854 400 21.23 25.12 54.23

In [11]:
conn = psycopg2.connect(conn_string)
cursor = conn.cursor()

cursor.execute("INSERT INTO rq_table(id, date, co2x, o2xx, temp, humi, type)VALUES(%s,%s,%s,%s,%s,%s,%s)", 
               (1, date, co2x, o2xx,temp,humi, typx))
conn.commit()
cursor.close()
conn.close()

In [ ]:
host = "ec2-54-84-98-18.compute-1.amazonaws.com"
dbname = "d34nik16h69tsc"
user = "xypdaowttfpuwg"
password = "6a5a8b6a1d31b236095a69e89b82a1bca9d436423a55590643747863febe5d3a"
sslmode = "require"
conn_string = "host={0} user={1} dbname={2} password={3} sslmode={4}".format(host, user, dbname, password, sslmode)


def create_connection_psql(db_file):
    """
    Connect To the PostgreSQL
    
    """
    conn = None
    try:
        conn = psycopg2.connect(conn_string)
    except Error as e:
        print(e)
    return conn

def insert_data_psql(conn, data):
    """
    Insert Data to the PostgreSQL Database
    """
    query = """
    INSERT INTO whouse(whouse_id, whouse_temp, whouse_hum, whouse_dt) VALUES(%s, %s, %s, %s)
    """
    cur = conn.cursor()
    cur.execute(query, data)
    conn.commit()
    return cur.lastrowid

In [ ]:
conn = create_connection_psql(conn_string)
with conn:
    data = (whouse_id, whouse_temp,whouse_hum, whouse_dt)
    inject_data = insert_data_psql(conn, data)